PRIVATE_KEY=
TOKEN_OWNER=

COLLATERAL_TOKEN_ADDRESS=
BORROW_TOKEN_ADDRESS=

ORACLE_INITIAL_PRICE=2000000000000000000000
LOAN_TO_VALUE_BPS=6600
LIQUIDATION_THRESHOLD_BPS=8000
LIQUIDATION_BONUS_BPS=500

SEPOLIA_RPC_URL=
ETHERSCAN_API_KEY=
