PRIVATE_KEY=
TOKEN_OWNER=

COLLATERAL_TOKEN_ADDRESS=
BORROW_TOKEN_ADDRESS=

ORACLE_INITIAL_PRICE=2000000000000000000000
LOAN_TO_VALUE_BPS=6600
LIQUIDATION_THRESHOLD_BPS=8000
LIQUIDATION_BONUS_BPS=500

SEPOLIA_RPC_URL=
ETHERSCAN_API_KEY=
ORACLE_ADDRESS=
ANNUAL_INTEREST_RATE_BPS=500
CHAINLINK_FEED_ADDRESS=0x694AA1769357215DE4FAC081bf1f309aDC325306
ORACLE_MAX_STALENESS=7200
MAX_LIQUIDATION_CLOSE_FACTOR_BPS=5000
